################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CPSC5031_HW5/obj/Debug/netcoreapp3.1
/.vs/CPSC5031_HW5/DesignTimeBuild
/.vs/CPSC5031_HW5/v16/.suo
/CPSC5031_HW5/obj
